.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0 1px !important;
  font: inherit;
  width: 19%;
  height: 2px;
}
.owl-carousel.center .owl-dots
{
	text-align:center;
}

.services-large-block-outer .content .container
{
	margin:0px;
	padding:0px;
}
#home_counter .counter-box .counter span
{
	font-size: 80px;
	position: relative;
	display: inline-block;
	line-height: 60px;
	color: #1a1a1a;
  	font-weight: 700;
}
#about_counter .counter-box .counter span
{
	font-size: 80px;
	position: relative;
	display: inline-block;
	line-height: 60px;
	color: #FFF;
  	font-weight: 700;
}
/********Large slider  ******************/
.gallery-large-info {
  margin-left: 40px;
}
.services-large-info{
 margin-left: 40px;
}
.slick-prev::before, .slick-next::before
{
 display:none!important;

}


.slick-next, .slick-next:hover
{
	position: absolute;
  top: 50%;
  margin: -15px 25px;
  user-select: none;
  background-color: #1a1a1a;
  color: #fff;
  padding: 2px 10px;
  width: 35px;
  height: 35px;
  text-align: center;
  font-size: 18px;
  display: inline-block;
  cursor: pointer;
  font-weight: 900;

  line-height: 35px;
    z-index:1;
}
.slick-prev, .slick-prev:hover
{
position: absolute;
  top: 50%;
  margin: -15px 25px;
  z-index:1;
user-select: none;


color: #fff;
  padding: 2px 10px;
  width: 35px;
  height: 35px;
  text-align: center;
  font-size: 18px;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  background-color: #1a1a1a;
  line-height: 35px;
	
}
 .slick-prev:hover, .slick-next:hover
 {
 
  background-color: #1a1a1a;
  border-color: #1a1a1a;
  color: #ffffff;
  opacity: 0.9;
  }
  
.is-sticky {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
  background-color: red !important;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  padding-top: 0px;
  padding-bottom: 0px;
}

.Dropdown-option.is-selected
{
	text-align: left;
	color: #999;
	font-weight: 400;
	font-size: 13px;
	white-space: nowrap;
color: #fff!important;
  text-decoration: none!important;
  background-color: #1a1a1a!important;	

}

.Dropdown-menu
{
	text-align: left;
	color: #999;
	font-weight: 400;
	font-size: 13px;
	white-space: nowrap;
	max-height:250px!important;
}
.myPlaceholderClassName 
{
	text-align: left;
	color: #999;
	font-weight: 400;
	font-size: 13px;
	white-space: nowrap;
}
